<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Hey, <span style="color: #ea8a8a;">{{name}}</span> raise a query about</h2>
    <p style="color: #0284d0; font-size: 20px; font-weight: 500; line-height: 1.6; word-spacing: 3px;">{{message}}</p>
    <p>Contact them at {{email}}</p>
</body>

</html>