<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        h3 {
            color: #ffad5a;
        }
    </style>
</head>

<body>
    <h1 style="color: #3f72af;">Hey, {{ content }} thanks for subscribing to our newsletter. :)</h1>
    <h3><a style="color: #ffad5a;" href="https://www.google.com">Click Here</a> to read our latest article.</h3>
    <footer>Tech-BM &copy; 2021, All Rights Reserved</footer>
</body>

</html>